<div class="d-flex sort">
  <h5 class="mr-auto p-2"><b>RoleRights</b></h5>
</div>

<table class="table table-hover">
  <thead class="">
    <tr>
      <th>Role</th>
      <th>Right</th>
      <th>
        <a
          *ngIf="!showNew"
          class="btn btn-primary ml-auto"
          (click)="toggleNew()"
        >
          Add RoleRight
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="showNew" class="table-primary">
      <td>
        <select [(ngModel)]="newRoleRight.roleId">
          <option *ngFor="let role of roles" [value]="role.id">{{
            role.name
          }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="newRoleRight.rightId">
          <option *ngFor="let right of rights" [value]="right.id"
            >{{ right.entity }} - {{ right.permission }}</option
          >
        </select>
      </td>
      <td>
        <button class="ml-auto" (click)="saveNewInput(newRoleRight)">
          <img src="../../../assets/icons/save.png" />
        </button>
        <button (click)="toggleNew()">
          <img src="../../../assets/icons/cancel.png" />
        </button>
      </td>
    </tr>
    <tr *ngFor="let roleRight of roleRights">
      <td>
        <select [(ngModel)]="roleRight.roleId">
          <option *ngFor="let role of roles" [value]="role.id">{{
            role.name
          }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="roleRight.rightId">
          <option *ngFor="let right of rights" [value]="right.id"
            >{{ right.entity }} - {{ right.permission }}</option
          >
        </select>
      </td>
      <td>
        <button class="ml-auto" (click)="saveEditedInput(roleRight)">
          <img src="../../../assets/icons/save.png" />
        </button>
        <button (click)="deleteInput(roleRight.id)">
          <img src="../../../assets/icons/delete.png" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
