<app-title [title]="model.dbNamePlural | titlecase"></app-title>

<form *ngIf="showSearchBar" class="form-inline md-form form-sm">
  <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  <input
    class="form-control form-control-sm ml-3 w-75"
    name="search"
    type="search"
    [(ngModel)]="searchText"
    [placeholder]="'Search text (' + searchPlaceholder + ')'"
  />
</form>
<table class="table table-borderless">
  <thead class="">
    <tr>
      <th *ngFor="let column of columns">{{ column.displayName }}</th>
      <th>
        <a
          *ngIf="[model.name, 'Write'] | rights"
          class="btn btn-primary ml-auto"
          (click)="create()"
        >
          Add {{ model.name }}
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of items
          | filter: searchText:model.searchFields
          | paginate: config
      "
    >
      <td *ngFor="let column of columns">
        <p *ngIf="column.dataType === 'text' || column.dataType === 'status'">
          {{ item[column.name] }}
        </p>
        <p *ngIf="column.dataType === 'date'">
          {{ item[column.name] | date: "yyyy-MM-dd" }}
        </p>
        <p *ngIf="column.dataType === 'select'">
          {{ item[column.name]?.name }}
        </p>
      </td>
      <td>
        <button
          *ngIf="[model.name, 'Write'] | rights"
          class="ml-auto"
          (click)="edit(item)"
        >
          <img src="../../../assets/icons/edit.png" />
        </button>
        <button
          *ngIf="[model.name, 'Delete'] | rights"
          (click)="delete(item.id)"
        >
          <img src="../../../assets/icons/delete.png" />
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls
  *ngIf="items.length > 10"
  (pageChange)="pageChanged($event)"
></pagination-controls>
