<form class="form-signin">
  <h1>Please sign in</h1>
  <label for="inputusername" class="sr-only">User name</label>
  <input
    type="text"
    name="userName"
    id="inputusername"
    [(ngModel)]="userName"
    class="form-control"
    placeholder="User name"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    name="userPassword"
    id="inputPassword"
    [(ngModel)]="userPassword"
    class="form-control"
    placeholder="Password"
    required
  />

  <button
    class="btn btn-lg btn-primary btn-block"
    (click)="login()"
    type="button"
  >
    Sign in
  </button>
  <div *ngIf="errors" class="error">
    <p *ngFor="let error of errors">{{ error }}</p>
  </div>
</form>
