<app-title [title]="model?.name + 's'"></app-title>
<table class="table table-hover">
  <thead class="">
    <tr>
      <th *ngFor="let column of columns">{{ column.displayName }}</th>
      <th>
        <a *ngIf="!showNew" class="btn btn-primary ml-auto" (click)="create()">
          Add {{ model?.name }}
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="showNew" class="newRow">
      <td *ngFor="let column of columns">
        <input
          *ngIf="column.dataType === 'text' || column.dataType === 'number'"
          [type]="column.dataType"
          [(ngModel)]="newItem[column.name]"
        />
        <select
          *ngIf="column.dataType === 'select'"
          [ngModel]="newItem[column.name]?.id"
          (change)="setOption(newItem, $event)"
        >
          <option [ngValue]="null" disabled> None</option>
          <option *ngFor="let option of options" [value]="option.id">
            {{ option.name }}</option
          >
        </select>
      </td>
      <td>
        <button class="ml-auto" (click)="save(newItem, true)">
          <img src="../../../assets/icons/save.png" />
        </button>
      </td>
    </tr>

    <tr *ngFor="let item of items">
      <td *ngFor="let column of columns">
        <input
          *ngIf="column.dataType === 'text' || column.dataType === 'number'"
          [type]="column.dataType"
          [(ngModel)]="item[column.name]"
        />
        <select
          *ngIf="column.dataType === 'select'"
          [ngModel]="item[column.name].id"
          (change)="setOption(item, $event)"
        >
          <option *ngFor="let option of options" [value]="option.id">
            {{ option.name }}</option
          >
        </select>
      </td>
      <td>
        <button
          *ngIf="[model?.name, 'Delete'] | rights"
          class="ml-auto"
          (click)="save(item, false)"
        >
          <img src="../../../assets/icons/save.png" />
        </button>
        <button
          *ngIf="[model?.name, 'Delete'] | rights"
          (click)="delete(item.id)"
        >
          <img src="../../../assets/icons/delete.png" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="error" *ngIf="errors">
  <div *ngFor="let error of errors">{{ error }}</div>
</div>
