h5 {
  font-size: calc(8px + 0.5vw);
}

input {
  font-size: calc(8px + 0.5vw);
  background: 0;
  border: 0;
}

img {
  width: 1.5vw;
  opacity: 0.3;
}

.list-group-item {
  margin: 0.2vw;
  border-radius: 1vw;
}

button {
  background: none;
  border: none;
}

.btn-primary {
  color: white;
}

.btn-primary:hover {
  color: white;
}
