<div class="d-flex sort">
  <h5 class="mr-auto p-2"><b>Users</b></h5>
</div>

<table class="table">
  <thead class="">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>City</th>
      <th>
        <a
          *ngIf="!showNew"
          class="btn btn-primary ml-auto"
          (click)="toggleNew()"
        >
          Add User
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="showNew" class="new">
      <td><input type="text" [(ngModel)]="newUser.firstName" /></td>
      <td><input type="text" [(ngModel)]="newUser.lastName" /></td>
      <td><input type="text" [(ngModel)]="newUser.city" /></td>
      <td>
        <button class="ml-auto" (click)="saveNewInput(newUser)">
          <img src="../../../assets/icons/save.png" />
        </button>
        <button (click)="toggleNew()">
          <img src="../../../assets/icons/cancel.png" />
        </button>
      </td>
    </tr>
    <tr *ngFor="let user of users">
      <td><input type="text" [(ngModel)]="user.firstName" /></td>
      <td><input type="text" [(ngModel)]="user.lastName" /></td>
      <td><input type="text" [(ngModel)]="user.city" /></td>
      <td>
        <button class="ml-auto" (click)="saveEditedInput(user)">
          <img src="../../../assets/icons/save.png" />
        </button>
        <button (click)="deleteInput(user.id)">
          <img src="../../../assets/icons/delete.png" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
