h4 {
  width: auto;
  margin-left: 0.2vw;
  font-size: calc(8px + 0.5vw);
  color: #4788c7;
}

.list-group-item {
  margin: 0.2vw;
  border-radius: 1vw;
}

.sort {
  background-color: #eeeeee;
  border-radius: 0.5vw;
}
