<div class="d-flex m-4 sort">
  <h5 class="mr-auto p-2"><b>Checkout</b></h5>
</div>

<section>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let orderLine of shoppingCart.orderLines"
    >
      <div class="d-flex w-100 justify-content-between">
        <small>{{ orderLine.product.manufacturer.name }}</small>

        <h5>{{ orderLine.totalPrice | currency }}</h5>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <h5>
          <small>{{ orderLine.amount }} x </small>
          {{ orderLine.product.name }} ({{ orderLine.product.description }})
        </h5>
      </div>
    </li>
  </ul>
  <a class="btn btn-primary text-white" (click)="confirm()">Confirm</a>
</section>
