<app-title title="Checkout"></app-title>

<section *ngIf="!isSaved">
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let orderLine of shoppingCart.orderLines"
    >
      <div class="d-flex w-100 justify-content-between">
        <small>{{ orderLine.product.manufacturer.name }}</small>

        <h4>{{ orderLine.totalPrice | currency }}</h4>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <h4>
          <small>{{ orderLine.amount }} x </small>
          {{ orderLine.product.name }} ({{ orderLine.product.description }})
        </h4>
      </div>
    </li>
  </ul>
  <button class="btn btn-primary" (click)="confirm()">Confirm</button>
</section>

<section *ngIf="isSaved">
  <h5>Order saved successfully!</h5>
</section>
