<section>
  <div class="d-flex justify-content-between mb-2 p-3 info">
    <h5><b>Order</b></h5>
    <h5>{{ order.date | date: "longDate" }}</h5>
    <h5>
      {{ order.user?.firstName }} {{ order.user?.lastName }} ({{
        order.user?.city
      }})
    </h5>
    <h5>Status: {{ order.status }}</h5>
  </div>
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between"
      *ngFor="let orderLine of order.orderLines"
    >
      <div>
        <small>{{ orderLine.amount }} x </small>
        <b class="text-primary">{{ orderLine.manufacturerName }}</b>
        {{ orderLine.productName }} ({{ orderLine.productDescription }})
      </div>

      <div>{{ orderLine.totalPrice | currency }}</div>
    </li>
  </ul>
</section>
