<div *ngIf="loading" class="spinner" role="status"></div>

<mdb-navbar
  *ngIf="!loading && currentUser"
  SideClass="navbar navbar-expand-lg navbar-dark indigo"
  [containerInside]="false"
>
  <mdb-navbar-brand><a class="navbar-brand" href="#">Shop</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/shop']"
          ><mdb-icon fas icon="store"></mdb-icon> Shop<span class="sr-only"
            >(current)</span
          ></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          [routerLink]="['/order-list']"
          ><mdb-icon fas icon="shopping-bag"></mdb-icon> Orders</a
        >
      </li>

      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <mdb-icon fas icon="box"></mdb-icon> Products<span
            class="caret"
          ></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
          role="menu"
        >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            [routerLink]="['/product-list']"
            ><mdb-icon fas icon="box"></mdb-icon> Products</a
          >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            [routerLink]="['/manufacturer-list']"
            ><mdb-icon fas icon="industry"></mdb-icon> Manufacturers</a
          >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            [routerLink]="['/category-list']"
            ><mdb-icon fas icon="project-diagram"></mdb-icon> Categories</a
          >
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <mdb-icon fas icon="user"></mdb-icon> Users<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
          role="menu"
        >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            [routerLink]="['/user-list']"
            ><mdb-icon fas icon="user"></mdb-icon> Users</a
          >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            [routerLink]="['/role-list']"
            ><mdb-icon fas icon="user-tag"></mdb-icon> Roles</a
          >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            [routerLink]="['/right-list']"
            ><mdb-icon fas icon="balance-scale"></mdb-icon> Rights</a
          >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            [routerLink]="['/role-right-list']"
            ><mdb-icon fas icon="project-diagram"></mdb-icon> Role-Rights</a
          >
        </div>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <img
            src="../assets/icons/user.svg"
            style="width: 2vw;"
            alt=""
            class="img-fluid rounded-circle z-depth-0"
          />
          {{ currentUser?.firstName }} {{ currentUser?.lastName }}</a
        >

        <div
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
          role="menu"
        >
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()"
            ><mdb-icon fas icon="sign-out-alt"></mdb-icon> Log out</a
          >
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>
