<div *ngIf="loading" class="spinner" role="status"></div>

<nav *ngIf="!loading && currentUser" class="navbar">
  <ul ngbNav class="nav-tabs mr-auto">
    <img class="logo" src="../assets/images/logo.png" />
    <li ngbNavItem *ngIf="['Shop', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/shop']">Shop</a>
    </li>
    <li ngbNavItem *ngIf="['Order', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/order-list']">Orders</a>
    </li>
    <li ngbNavItem *ngIf="['Product', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/product-list']">Products</a>
    </li>
    <li ngbNavItem *ngIf="['Category', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/category-list']">Category</a>
    </li>
    <li ngbNavItem *ngIf="['Manufacturer', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/manufacturer-list']">Manufacturers</a>
    </li>
    <li ngbNavItem *ngIf="['User', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/user-list']">Users</a>
    </li>
    <li ngbNavItem *ngIf="['Role', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/role-list']">Roles</a>
    </li>
    <li ngbNavItem *ngIf="['Right', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/right-list']">Rights</a>
    </li>
    <li ngbNavItem *ngIf="['RoleRight', 'Read'] | rights">
      <a ngbNavLink [routerLink]="['/role-right-list']">Role Rights</a>
    </li>
  </ul>
  <span class="navbar-text">
    {{ currentUser?.firstName }} {{ currentUser?.lastName }}
    <small>({{ currentUser?.role?.name }})</small>
    <button class="btn ml-1" (click)="logout()">
      <img src="../assets/icons/logout.png" />
    </button>
  </span>
</nav>

<router-outlet></router-outlet>
