<div
  class="card"
  [class.expanded]="selectedProduct && product.id === selectedProduct.id"
  [class.hidden]="selectedProduct && product.id !== selectedProduct.id"
  style="width: 18rem;"
>
  <div class="card-img-container">
    <img
      [@rotate]="{
        value: isUpdating && updatingProduct === product ? 'rest' : 'move',
        params: { delay: index * 100 }
      }"
      class="card-img-top"
      [src]="'data:image/jpg;base64,' + getImage(product.id) | safeHtml"
      (click)="showDetails(product)"
    />
  </div>
  <div [@fade] class="card-body">
    <p class="card-title">{{ product?.name }}</p>
    <p class="card-text">
      <small>{{ product?.category?.name }}</small>
    </p>

    <p class="card-text">
      {{ product?.price | currency }}
    </p>
    <div class="buttons">
      <select
        [disabled]="isInOrder(product.id)"
        class="form-control numberSelect"
        [id]="product.id"
        #linkRef
      >
        <option
          *ngFor="let number of numbers"
          [value]="number"
          [selected]="selectAmount(number, product.id)"
          >{{ number }}</option
        >
      </select>
      <button
        *ngIf="!isInOrder(product.id)"
        [@highlight]="
          isUpdating && updatingProduct === product ? 'highlight' : 'rest'
        "
        class="btn btn-primary"
        (click)="addToCart(product)"
      >
        Order
      </button>
      <button
        *ngIf="isInOrder(product.id)"
        [@highlight]="
          isUpdating && updatingProduct === product ? 'highlight' : 'rest'
        "
        class="btn btn-danger"
        (click)="removeFromCart(product)"
      >
        Remove
      </button>
    </div>
  </div>
</div>
<div
  class="m-3"
  *ngIf="
    product.attributes && selectedProduct && product.id === selectedProduct.id
  "
>
  <p *ngFor="let attribute of product.attributes">
    <b>{{ attribute.name }} </b>{{ attribute.value }}
  </p>
</div>
<button
  *ngIf="selectedProduct && product.id === selectedProduct.id"
  class="btn btn-primary"
  (click)="closeDetails()"
>
  Close Details
</button>
