h5 {
  font-size: calc(8px + 0.5vw);
}

input {
  font-size: calc(8px + 0.5vw);
  background: 0;
  border: 0;
}

.list-group-item {
  margin: 0.2vw;
  border-radius: 1vw;
}

.sort {
  background-color: #eeeeee;
  border-radius: 0.5vw;
}

.new {
  background-color: lightblue;
}

button {
  background: none;
  border: none;
}
