<div class="d-flex m-4 sort">
  <h5 class="mr-auto p-2"><b>Manufacturers</b></h5>
  <button *ngIf="!showNew" class="ml-auto mr-3" (click)="toggleNew()">
    <img src="../../../assets/icons/add.png" />
  </button>
</div>

<section>
  <ul class="list-group">
    <li *ngIf="showNew" class="list-group-item new">
      <div class="d-flex w-100 justify-content-between">
        <input type="text" [(ngModel)]="newManufacturer.name" />
        <button class="ml-auto" (click)="saveNewInput(newManufacturer)">
          <img src="../../../assets/icons/save.png" />
        </button>
        <button (click)="toggleNew()">
          <img src="../../../assets/icons/cancel.png" />
        </button>
      </div>
    </li>
    <li class="list-group-item" *ngFor="let manufacturer of manufacturers">
      <div class="d-flex w-100 justify-content-between">
        <input type="text" [(ngModel)]="manufacturer.name" />
        <button class="ml-auto" (click)="saveEditedInput(manufacturer)">
          <img src="../../../assets/icons/save.png" />
        </button>
        <button (click)="deleteInput(manufacturer.id)">
          <img src="../../../assets/icons/delete.png" />
        </button>
      </div>
    </li>
  </ul>
</section>
