<div *ngIf="shoppingCart" class="d-flex m-4 sort">
  <h5 class="mr-auto p-2"><b>Shop</b></h5>
  <a
    *ngIf="shoppingCart.orderLines.length > 0"
    [routerLink]="['/checkout']"
    class="btn btn-primary cart"
    ><img class="icon" src="../../../assets/icons/shopping-cart.png" />{{
      shoppingCart?.orderLines?.length
    }}
    items</a
  >
  <a *ngIf="shoppingCart.orderLines.length == 0" class="btn btn-primary cart"
    ><img class="icon" src="../../../assets/icons/shopping-cart.png" />0
    items</a
  >
</div>

<section *ngIf="shoppingCart">
  <div class="card" *ngFor="let product of products" style="width: 18rem;">
    <img
      [src]="'../../../assets/images/' + product.id + '.jpg'"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ product?.name }}</h5>
      <p class="card-text">
        <small>{{ product?.description }}</small>
      </p>
      <p class="card-text">
        {{ product?.price | currency }}
      </p>
      <select
        *ngIf="!isInOrder(product.id)"
        class="form-control numberSelect"
        [id]="product.id"
        #linkRef
      >
        <option *ngFor="let number of numbers" [value]="number">{{
          number
        }}</option>
      </select>
      <button
        *ngIf="!isInOrder(product.id)"
        class="btn btn-primary text-white"
        (click)="addToCart(product)"
      >
        Order
      </button>
      <button
        *ngIf="isInOrder(product.id)"
        class="btn btn-danger text-white"
        (click)="removeFromCart(product)"
      >
        Remove ({{ getAmount(product?.id) }})
      </button>
    </div>
  </div>
</section>
<section *ngIf="!shoppingCart">
  <h5>Loading...</h5>
</section>
