<app-title title="Shop"></app-title>
<div *ngIf="shoppingCart" class="d-flex m-4 sort">
  <ul ngbNav *ngIf="!showDetails">
    <li ngbNavItem>
      <a
        [ngClass]="{ active: !selectedCategory?.id }"
        (click)="selectCategory()"
        >Show All</a
      >
      <a
        [ngClass]="{ active: selectedCategory?.id === category.id }"
        *ngFor="let category of categories"
        (click)="selectCategory(category)"
        >{{ category.name }}</a
      >
    </li>
  </ul>

  <a
    *ngIf="shoppingCart.orderLines.length > 0"
    [routerLink]="['/checkout']"
    class="btn btn-primary cart ml-auto"
    ><img class="icon" src="../../../assets/icons/shopping-cart.png" />{{
      shoppingCart?.orderLines?.length
    }}
    items</a
  >
  <a
    *ngIf="shoppingCart.orderLines.length == 0"
    class="btn btn-primary cart ml-auto"
    ><img class="icon" src="../../../assets/icons/shopping-cart.png" />0
    items</a
  >
</div>

<section [@fade] *ngIf="shoppingCart && showDetails">
  <p class="card-title">{{ selectedProduct?.name }}</p>
  <div class="card-img-container-details">
    <img
      class="card-img-top-details"
      [src]="getImage(selectedProduct.id)"
      alt="..."
    />
  </div>
  <div class="card-body">
    <p class="card-text" *ngFor="let attribute of selectedProduct?.attributes">
      <b>{{ attribute.name }}:</b> {{ attribute.value }}
    </p>
  </div>

  <div class="buttons">
    <select
      [disabled]="isInOrder(selectedProduct.id)"
      class="form-control numberSelect"
      [id]="selectedProduct.id"
      #linkRef
    >
      <option
        *ngFor="let number of numbers"
        [value]="number"
        [selected]="selectAmount(number, selectedProduct.id)"
        >{{ number }}</option
      >
    </select>
    <button
      *ngIf="!isInOrder(selectedProduct.id)"
      class="btn btn-primary"
      (click)="addToCart(selectedProduct)"
    >
      Order
    </button>
    <button
      *ngIf="isInOrder(selectedProduct.id)"
      class="btn btn-danger"
      (click)="removeFromCart(selectedProduct)"
    >
      Remove
    </button>
  </div>

  <button class="btn btn-danger mt-2" (click)="toggleDetails()">
    Close Details
  </button>
</section>

<section *ngIf="shoppingCart && !showDetails">
  <div
    [@rotate]
    class="card"
    *ngFor="let product of products"
    style="width: 18rem;"
  >
    <div class="card-img-container" (click)="toggleDetails(product)">
      <img class="card-img-top" [src]="getImage(product.id)" alt="..." />
    </div>
    <div class="card-body">
      <p class="card-title">{{ product?.name }}</p>
      <p class="card-text">
        <small>{{ product?.category?.name }}</small>
      </p>

      <p class="card-text">
        {{ product?.price | currency }}
      </p>
      <div class="buttons">
        <select
          [disabled]="isInOrder(product.id)"
          class="form-control numberSelect"
          [id]="product.id"
          #linkRef
        >
          <option
            *ngFor="let number of numbers"
            [value]="number"
            [selected]="selectAmount(number, product.id)"
            >{{ number }}</option
          >
        </select>
        <button
          *ngIf="!isInOrder(product.id)"
          class="btn btn-primary"
          (click)="addToCart(product)"
        >
          Order
        </button>
        <button
          *ngIf="isInOrder(product.id)"
          class="btn btn-danger"
          (click)="removeFromCart(product)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</section>
