<app-title title="Shop"></app-title>
<div *ngIf="shoppingCart" class="d-flex m-4 sort">
  <ul [@fadeLeft] ngbNav *ngIf="!showDetails">
    <li ngbNavItem>
      <a
        [ngClass]="{ active: !selectedCategory?.id }"
        (click)="selectCategory()"
        >Show All</a
      >
      <a
        [ngClass]="{ active: selectedCategory?.id === category.id }"
        *ngFor="let category of categories"
        (click)="selectCategory(category)"
        >{{ category.name }}</a
      >
    </li>
  </ul>

  <a
    [@highlight]="isUpdating ? 'highlight' : 'rest'"
    *ngIf="shoppingCart.orderLines.length > 0"
    [routerLink]="['/checkout']"
    class="btn btn-primary cart ml-auto"
    ><img class="icon" src="../../../assets/icons/shopping-cart.png" />{{
      shoppingCart?.orderLines?.length
    }}
    items</a
  >
  <a
    [@highlight]="isUpdating ? 'highlight' : 'rest'"
    *ngIf="shoppingCart.orderLines.length == 0"
    class="btn btn-primary cart ml-auto"
    ><img class="icon" src="../../../assets/icons/shopping-cart.png" />0
    items</a
  >
</div>

<section *ngIf="shoppingCart && !showDetails">
  <app-shop-item
    [index]="i"
    [product]="product"
    [selectedProduct]="selectedProduct"
    (selectedProductChanged)="changeSelectedProduct($event)"
    *ngFor="let product of products; index as i"
  ></app-shop-item>
</section>
