.newInput {
  background: white;
}

img {
  width: 2.5vw;
  opacity: 1;
}

.list-group-item {
  margin: 0.2vw;
  border-radius: 1vw;
}

button {
  background: none;
  border: none;
}

.btn-primary {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.error {
  color: darkred;
}
