<app-title [title]="model.name"></app-title>
<table class="table">
  <thead class="">
    <tr>
      <th *ngFor="let column of columns">{{ column.displayName }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let column of columns">
        <input
          *ngIf="column.dataType === 'text'"
          [type]="column.dataType"
          [(ngModel)]="item[column.name]"
        />
        <input
          *ngIf="column.dataType === 'date'"
          [type]="column.dataType"
          [ngModel]="item[column.name] | date: 'yyyy-MM-dd'"
          (ngModelChange)="item[column.name] = $event"
          [value]="item[column.name]"
        />
        <select *ngIf="column.dataType === 'status'" [(ngModel)]="item.status">
          <option *ngFor="let key of orderStatusTypeOptions" [value]="key">
            {{ key }}</option
          >
        </select>
        <select
          *ngIf="column.dataType === 'select' && !column.secondary"
          [ngModel]="item[column.name].id"
          (change)="setOption(column.secondary, $event)"
        >
          <option *ngFor="let option of options" [value]="option.id">
            {{ option.name }}</option
          >
        </select>
        <select
          *ngIf="column.dataType === 'select' && column.secondary"
          [ngModel]="item[column.name].id"
          (change)="setOption(column.secondary, $event)"
        >
          <option *ngFor="let option of secondaryOptions" [value]="option.id">
            {{ option.name }}</option
          >
        </select>
      </td>
      <td>
        <button class="ml-auto" (click)="save()">
          <img src="../../../assets/icons/save.png" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
