@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Lora";
  src: url(./assets/fonts/Lora-Regular.ttf) format("truetype");
}

body {
  margin: auto;
  max-width: 1024px;
  font-family: "Lora", sans-serif;
}

h1 {
  margin: 1vw;
}

section {
  margin: 1vw;
}
