/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  margin: auto;
  max-width: 1024px;
}

h1 {
  margin: 1vw;
}

section {
  margin: 1vw;
}
