<table class="table">
  <thead class="">
    <tr>
      <th *ngFor="let column of columns">{{ column.displayName }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let column of columns">
        <input
          *ngIf="column.dataType !== 'select'"
          [type]="column.dataType"
          [(ngModel)]="item[column.name]"
        />
        <select
          *ngIf="column.dataType === 'select'"
          [ngModel]="item[column.name].id"
          (change)="setOption($event)"
        >
          <option *ngFor="let option of options" [value]="option.id">
            {{ option.name }}</option
          >
        </select>
      </td>
      <td>
        <button class="ml-auto" (click)="save()">
          <img src="../../../assets/icons/save.png" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
